# Ignore python cache
__pycache__/
*.py[cod]

# Large models are handled by Git LFS
# models/

# Ignore Dataset (too large)
dataset/
raw_data/

# Ignore Environment Variables
.env

# Ignore Virtual Env
venv/
.input/
node_modules
